version: "3.4"

services:

  # Handles common setup for the individual services
  script: &script
    image: library/python:3.9.0
    working_dir: "/app"
    volumes:
      - "./:/app"

  hello_world:
    <<: *script
    command: ["python", "-m", "questions.hello_world"]

  report_repair:
    <<: *script
    entrypoint: ["python", "-m", "questions.report_repair"]

  password_philosophy:
    <<: *script
    entrypoint: ["python", "-m", "questions.password_philosophy"]